header { display: none; }

#tweets { list-style-type: none; margin-left: -40px; }

li.promoted-tweet { display: none; }
.show-promoted-tweets li.promoted-tweet { display: block; }

li.tweet { padding: 5px 5px; border-bottom: 1px solid #ccc; }

li.tweet:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

li.tweet .image { float: left; padding-right: 10px; }

li.tweet .content .user-name { font-weight: bold; text-decoration: none; float: left; padding-right: 10px; }

li.tweet .content .full-name { color: #999; }

li.tweet .content .time-stamp { font-size: smaller; display: inline; }

.tweet.alternate { background-color: papayawhip; }

#notification { display: none; }

section { float: left; width: 540px; display: inline-block; position: relative; }

aside { max-width: 460px; min-width: 340px; position: relative; padding: 12px 20px; overflow: hidden; }

footer { clear: both; }

li.tweet .user-name.spotlight { text-decoration: underline; }

.actions { float: right; display: inline; }

.actions span { padding-left: 5px; padding-right: 5px; }

li.highlight { background-color: #e8fbfe; }
li.tweet .actions { display: none; }
li.highlight .actions { display: block; }

.revert{ position: relative; display: block; cursor: pointer; } 


/* ------ AUGUSTA'S STYLES ------ */

html {
	margin: 0;
	padding: 0;
}

body { 
	color: #444;
	background: #d8efff; 
	margin: 0;
	padding: 0;
}

* { font: 14px/24px 'Lucida Grande', 'Helvetica', arial, sans-serif; }

h1 {
	color: #3599e1;
	width: 100%;
	font-size: 24px;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	margin: 25px 0 10px 14px;
}

a, a:link {
	color: #ea7116;
}

a:visited {
	color: #0bb27f;
}

a:hover {
	color: #f9a750;
}

a:active {
	color: #b5793a;
}

#container {
	width: 700px;
	margin: 0 auto;
	overflow: visible;
}

#user-profile {
	border-bottom: 1px solid #c6e3f8;
	border-top: 1px solid #fafefb;
	float: left;
	width: 170px;
	height: 100%;
	background: #e8fbfe;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	padding: 15px 15px 18px 15px;
}

#user-profile > h2 {
	color: #3599e1;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	margin: 0 0 5px 0;
}

#user-profile > p {
	color: #5c7a9b;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d9f0f9;
	margin: 0;
}

#feed {
	float: right;
	width: 500px;
	background: #eee;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 8px;
}

#feed ul {
	background: #fff;
	margin: 0;
	padding: 0;
}

footer {
	clear: both;
	width: 100%;
	margin: 15px auto;
}

footer > div {
	text-align: right;
	font-size: 10px !important;
	color: #20c3cb;
}

.image {
	padding: 5px 10px 0 5px;
}

.time-stamp {
	font-size: 10px !important;
	color: #999;
}

#compose {
	padding: 10px 20px 20px;
}

#compose > p {
	font-weight: bold;
	font-size: 13px;
	color: #888;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	margin: 0 0 3px 2px;
}

textarea {
	display: block;
	width: 440px;
	background: #fdfffb;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 auto 10px;
	padding: 5px 8px;
	outline: none;
}

#notification {
	background-color: #b6ded2;
	border-top: solid 1px #67c396;
	padding: 5px 10px;
}


































